.page-wrap {
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
    background: #fff;
}

.result-con .result-title {
    color: #555555;
}

.result-con {
    display: none;
}

.result-con .result-content {
    margin-top: 20px;
}

.result-con .result-content .link {
    margin: 0;
    padding: 5px 20px;
    border: 1px solid #ccc;
}