
.nav {
    background: #eeeeee;
    height: 30px;
    line-height: 30px;
}

/*用户部分*/
.nav .user {
    float: left;
}

.nav .user .login {
    display: none;
}

.nav .user .link {
    margin-right: 5px ;
}

/*导航链部分*/

.nav .w .nav-list {
    float: right;
}

.nav .w .nav-list .nav-item {
    display: inline-block;
    margin-left: 5px;
}

