/*
* @Author: shendengnian
* @Date:   2017-07-29 06:48:37
* @Last Modified by:   shendengnian
* @Last Modified time: 2017-08-02 21:31:08
*/
/*导航主体*/
.nav-side{
	float:left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item{
	line-height: 25px;
	font-size: 13px;
}
.nav-side .nav-item .link{
	color:#888;
}
.nav-side .nav-item.active .link{
	color:#c60023;
}
/*右侧内容区*/
.content.with-nav{
	float: left;
	width: 950px;
}