<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>

<%= require('html-loader!./layout/nav-simple.html') %>

<div class="page-wrap w">
    <div class="result-con">
        <h1 class="result-title">恭喜您,注册成功</h1>
        <div class="result-content">
            <a href="./index.html" class="link">回到首页</a>
        </div>
    </div>
</div>

<%= require('html-loader!./layout/footer.html') %>


</body>

</html>