<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html')  %>
    <title><%= htmlWebpackPlugin.options.title%> - DN购物吧</title>
</head>
<body>
<%= require('html-loader!./layout/nav-simple.html')  %>
<div class="page-wrap">
    <div class="w">
        <div class="user-con">
            <div class="user-title">找回密码</div>
            <div class="user-box">
                <div class="error-item">
                    <i class="fa fa-minus-circle error-icon"></i>
                    <p class="err-msg">Error</p>
                </div>
                <div class="step-con step-username">
                    <p class="user-item-text">请输入用户名：</p>
                    <div class="user-item">
                        <label class="user-label" for="">
                            <i class="fa fa-user"></i>
                        </label>
                        <input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="submit-username">下一步</a>
                </div>
                <div class="step-con step-question">
                    <p class="user-item-text">密码提示问题是：<span class="question"></span></p>
                    <div class="user-item">
                        <label class="user-label" for="">
                            <i class="fa fa-key"></i>
                        </label>
                        <input class="user-content" id="answer" placeholder="请输入密码提示问题答案" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="submit-question">下一步</a>
                </div>
                <div class="step-con step-password">
                    <p class="user-item-text">请输入新密码：</p>
                    <div class="user-item">
                        <label class="user-label" for="">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password" class="user-content" id="password" placeholder="请输入新密码" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="submit-password">下一步</a>
                </div>

                <div class="link-item">
                    <a class="link" href="./user-login.html" target="_blank">返回登录>></a>
                </div>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>