<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - DN购物吧</title>
</head>
<body>
<%= require('html-loader!./layout/nav.html')  %>
<%= require('html-loader!./layout/header.html')  %>
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a class="link" href="./index.html">Mall</a>
            <span>></span>
            <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
        </div>
    </div>
</div>
<div class="page-wrap w">

</div>
<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>