/*
* @Author: Rosen
* @Date:   2017-05-26 18:19:21
* @Last Modified by:   shendengnian
* @Last Modified time: 2017-08-07 06:42:25
*/
/* banner */
.banner{
    position: relative; 
    overflow: auto; 
}
.banner li { 
    list-style: none; 
}
.banner ul li { 
    float: left; 
}
/* 引导的小圆点 */
.banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}
.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #fff;
    opacity: 1;
}