<div class="header">
    <div class="w">
        <a href="" class="logo">MMall</a>
        <div class="search-con ">
            <input type="text" class="search-input" id="search-input" placeholder="请输入商品名称">
            <button class="search-btn" id="search-btn">
                搜索
            </button>
        </div>
    </div>
</div>