<ul class="nav-side">
    <li class="nav-item">
        <a href="" class="link">个人中心</a>
    </li>
    <li class="nav-item">
        <a href="" class="link"> 我的订单
        </a>
    </li>
    <li class="nav-item">
        <a href="" class="link">关于MMall</a>
    </li>
</ul>